
@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.gstatic.com/s/yanonekaffeesatz/v8/YDAoLskQQ5MOAgvHUQCcLfGwxTS8d1Q9KiDNCMKLFUM.woff2') format('woff2');
}
#greeting {
    font-family: 'Yanone Kaffeesatz';
    font-size: 200%;
    text-align: center;
    
}

#links {
    font-size: 150%;
    font-family: cursive;
    text-align: center;
    grid-row: auto;
    
}

#kobayu {
    color: red
}


footer {
    background-color: aquamarine;
	position: absolute;
	bottom: 0;
	width: 100%;
}
#header, #body, #footer {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}
#header, #body, #footer ,#div{
	overflow: hidden;
}
header {
    background-color: bisque;
	top: 0;
	width: 100%;
}

#contentindex {
    font-size: 175%;
    text-align: start;
}
#skills_toggle {
    position: static;
    padding-left: 5%;
    display:none;
    clear:both;
}
.github-icon::before {
  color: #333;
  font-family: fontawesome;
  content: "\f09b";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.kaggle-icon::before {
  color: #333;
  font-family: fontawesome;
  content: "\f5fa";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.python-icon::before {
  color: #1e90ff;
  font-family: fontawesome;
  font-size: 150%;
  content: "\f3e2";
  display: inline-block;
  padding-left: 2.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.instagram-icon::before {
  color: #ff1493;
  font-family: fontawesome;
  content: "\f16d";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.html-icon::before {
  color: #1e90ff;
  font-family: fontawesome;
  font-size: 150%;
  content: "\f13b";
  display: inline-block;
  padding-left: 2.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.python-icon{
    font-size: 150%;
}
.html-icon{
    font-size: 150%;
}

#anaconda {
    padding-left: 2%;
    color: forestgreen;
    font-weight: 750
}

#lib {
    padding-left: 2%;
    font-weight: 500;
}



#environment {
    font-size: 125%
}

#libralies {
    font-size: 125%
}

#standard_libralies {
    font-size: 125%;
}

#stlib {
    font-size: 125%
}

#tab {
    text-align: center;
    background-color: #008b8b;
}

.page-item {
    background-color: #008b8b;
}

#position {
  width: 100%;
  height: 100%; 
}

#webpages {
    position: static;
    padding-left: 5%;
    display:none;
    clear:both;
}

#web {
    font-weight: 500;
	font-size: 150%;
}
#page {
	color: firebrick;
	background-color: white;
	border-color: white;
}

#pagechangebutton {
	overflow-x: visible;
}